@model IEnumerable<CadastroNews.Models.Fonte>
@{
    ViewBag.Title = "Cadastro de Fontes";
}
<h2>Cadastro de Fontes</h2>

<p>
    <a href="@Url.Action("Cadastrar","Fonte")">Cadastrar Fonte</a>
</p>

<table>
    <tr>
        <th>Nome</th>
        <th>Contato</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Contato</td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.FonteId })
                @Html.ActionLink("Excluir", "Excluir", new { id = item.FonteId })
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.FonteId })
            </td>
        </tr>
    }
</table>
